services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
      - "5173:5173"
    depends_on:
      - mysql
    tty: true
    stdin_open: true

  mysql:
    image: mysql:8.2
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: qa_testing_tool
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
